<p>film-update works!</p>


<form [formGroup]="filmUpdate" (ngSubmit)="updateFilm()">

  <label for="title">Title: </label>
  <input id="title" type="text" formControlName="title" >

  <label for="synopsis">synopsis: </label>
  <input id="synopsis" type="text" formControlName="synopsis">

  <label for="releaseYear">releaseYear: </label>
  <input id="releaseYear" type="number" formControlName="releaseYear" >

  <label for="director">director: </label>
  <input id="director" type="text" formControlName="director">

  <label for="imbdRating">imbdRating: </label>
  <input id="imbdRating" type="number" formControlName="imbdRating" >


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!filmUpdate.valid">Submit</button>
</form>


<div *ngIf="film$|async as film">

  <p>{{film.title}}</p>
  <p>{{film.synopsis}}</p>
  <p>{{film.director}}</p>
  <p>{{film.releaseYear}}</p>
  <p>{{film.imbdRating}}</p>

</div>
