

<p>film-details</p>


<div *ngIf="films$|async as film">
  <p> {{film.id}} </p>
  <p>{{film.title}}</p>
  <p> {{film.synopsis}} </p>
  <p>{{film.releaseYear}}</p>
  <p> {{film.director}} </p>
  <p>{{film.imbdRating}}</p>

</div>
