<p>eval aziyade angular</p>

<p>liste de films</p>

<div *ngFor="let film of films$ | async" >
  <div [title]="film.title + ' details'">

   <div>{{film.id}}</div>
    <div> {{ film.title }} </div>
    <div> {{film.synopsis}}</div>
    <div> {{ film.releaseYear}}</div>
    <div>{{film.director}}</div>
    <div>{{film.imbdRating}}</div>

    <button (click)="delete(film.id)">
      delete
    </button>

  </div>
</div>
