
<h1>liste de films</h1>

<div *ngFor="let film of films$ | async" >
  <a [title]="film.title + ' details'" [routerLink]="['/films', film.id]">
    {{ film.title }}     {{ film.director }}  {{ film.imbdRating }}   </a>

  <button type="button" class="btn btn-info" (click)="deleteFilm(film.id)">
    delete
  </button>



  </div>

<div class="NewFilm" >

  <button [routerLink]="['/films/new']" >
    New Film
  </button>

</div>






