<p>film-form works!</p>



<form [formGroup]="filmForm" (ngSubmit)="onSubmit()">

  <label for="title">Title: </label>
  <input id="title" type="text" formControlName="title" >

  <label for="synopsis">synopsis: </label>
  <input id="synopsis" type="text" formControlName="synopsis">

  <label for="releaseYear">releaseYear: </label>
  <input id="releaseYear" type="number" formControlName="releaseYear" >

  <label for="director">director: </label>
  <input id="director" type="text" formControlName="director">

  <label for="imbdRating">imbdRating: </label>
  <input id="imbdRating" type="number" formControlName="imbdRating" >




  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!filmForm.valid">Submit</button>
</form>


<button (click)="updateFilm()">Update Film</button>



<p>Form Status: {{ filmForm.status }}</p>
