/* You can add global styles to this file, and also import other style files */



body
{
  background-color: #f4d1f9;
  display: flex;
  justify-content: center;
}


.centre{
  margin-left: 25px;

}
